html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display: table;
    height: 100%;
    width: 100%;
}

.box {
    display: table-cell;
    vertical-align: middle;
}

.circle {
    display: table;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #EEE;
}

.text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif; 
    font-size: 2em;
    font-weight: 500;
    color: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}